{% extends 'partials/layout.twig' %}

{% block content %}

    <h2>{{ customer.first_name }} {{ customer.last_names }}</h2>

    <h3>Editar cliente</h3>

    <form action="/customers/{{ customer.id }}" method="post">

        <input type="hidden" name="__method_override__" value="PUT"/>

        <label for="dni">DNI:</label>
        <input type="text"
               id="dni"
               name="dni"
               value="{{ customer.dni }}">

        <br/>

        <label for="first_name">Nombre:</label>
        <input type="text"
               id="first_name"
               name="first_name"
               value="{{ customer.first_name }}"
               required>

        <br/>

        <label for="last_names">Apellidos:</label>
        <input type="text"
               id="last_names"
               name="last_names"
               value="{{ customer.last_names }}"
               required>

        <br/>

        <label for="email">Email:</label>
        <input type="email"
               id="email"
               name="email"
               value="{{ customer.email }}"
               required>

        <br/>

        <label for="birth_date">Fecha de nacimiento:</label>
        <input type="date"
               id="birth_date"
               name="birth_date"
               value="{{ customer.birth_date }}"
               required>

        <br/>

        <input type="submit" value="Guardar">

    </form>

    {% include 'partials/errorList.twig' %}

    <h3>Facturas</h3>

    <ul id="billList">
        {% for bill in customerBills %}
            <li>
                <a href="/customers/{{ customer.id }}/bills/{{ bill.id }}">
                    #{{ bill.id }} - {{ bill.concept }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h3>Acciones</h3>

    <ul id="actionList">
        <li>
            <a href="/customers/{{ customer.id }}/bills/new">
                Añadir factura
            </a>
        </li>
        <li>
            <a href="/customers/{{ customer.id }}?__method_override__=DELETE">
                Eliminar cliente
            </a>
        </li>
    </ul>

{% endblock %}
